SMS_GATEWAY_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
SESSION_SECRET=
APIVERVE_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=
FIREBASE_DATABASE_URL=
FIREBASE_SERVICE_ACCOUNT=
TOROUTER_API_KEY=
VITE_AVIATOR_API_KEY=#spin71bet_aviator_game109
AVIATOR_API_KEY=#spin71bet_aviator_game109
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
RETOOL_API_KEY=
RETOOL_DB_URL=postgresql://retool:retool_01ktw7dvt6f4zwdfhr36htchvn@ep-purple-art-akjues1z-pooler.c-3.us-west-2.retooldb.com/retool?sslmode=require
